
.md-code {
  @apply relative rounded text-wrap py-[0.2rem] px-[0.3rem] font-mono text-sm;
  color: #B392F0;
  background-color: #24292e;
}

.md-pre {
  @apply mt-6 mb-4 overflow-x-auto rounded-lg  py-4;
  background-color: #24292e;
}

.md-pre code {
  @apply bg-transparent;
}